<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1><%= $player_1.name %> and <%= $player_2.name %>, prepare for battle!</h1>
  <div>
    <%= $player_1.name %>
  </div>
  <div>
    <%= $player_2.name %> --- HP: 30
  </div>
  <form action="/attack-conf" method="post">
    <div class="button">
      <input type="submit" value="attack">
    </div>
  </form>
</body>
</html>



